@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-thin {
  font-family: "Poppins", sans-serif;
  /* font-weight: 100; */
  /* font-style: normal; */
}

/* Header section */

.body {
  margin: 0 auto;
  background-image: linear-gradient(to right, #b8e7fa, #e6e6fa);
}

.nav-h1 {
  color: #ffa500;
}

.btn {
  background-image: linear-gradient(to right, #ffa500, #ffd447);
  color: #0d1321;
  border: none;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
}
.btn:hover {
  background: rgb(123, 123, 250);
  color: white;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 0 35px 35px rgba(206, 198, 198, 0.25);

  /* max-width: 900px;
  margin: 20px auto;
    padding: 15px 30px; */
}

.banner-hero {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  background: #e6edf9;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  padding: 20px;
}

.hero-text {
  text-align: center;
}

.main-banner {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 110px;
}

.main-banner-text {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 80px;
  background: #e6edf9;
  padding: 30px;
}

.main-banner-text-p {
  color: #384157;
}

/* My-Inspiration section */

.My-Inspiration {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 30px;
  text-align: center;
}
.My-Inspiration-text {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.video {
  border: 1px solid gray;
  padding: 20px;
  border-radius: 8px;
}

/* card section */
.card {
  background-image: linear-gradient(to top, #9de5ff, #e6edf9);
  box-shadow: 0 35px 35px rgba(25, 60, 25, 0.25);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}

.card-box {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);
}
.card-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}
